General Styles
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #767575;
    color: #333;
}

main {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gender{
    display: flex;
    gap: 7px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.Option{
    display: flex;
    gap: 9px;
}

form div {
    margin-top: 10px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}


input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  fieldset {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
  }